<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="javascript:;">Project name</a>
			<div class="nav-collapse collapse">
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Logged in as <span class="dropdown-toggle-username"></span> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#/settings">Settings</a></li>
							<li><a class="btn-signout" href="javascript:;">Sign out</a></li>
						</ul>
					</li>
				</ul>
				
				<ul class="nav">
					<li class="active"><a href="#/dashboard">Dashboard</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>