<div class="container">

<div class="row">
  <div class="span6">
    <h2>Software configuration</h2>
  </div>
  <div class="span6">
    
    <div class="btn-toolbar" style="margin-top:11px; float:right">
    <div class="btn-group">
      <button class="btn"><i class="icon-list"></i></button>
    </div>

    <div class="btn-group pull-right">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-wrench"></i>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="">Add template</a></li>
        <li><a href="">Edit template</a></li>
        <li><a href="">Delete template</a></li>
      </ul>
    </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="alert alert-info">
      <h5>Strengths</h5>
      <ul>
        <li>aaa</li>
        <li>aaa</li>
        <li>aaa</li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="alert alert-warning">
      <h5>Weaknesses</h5>
      <ul>
        <li>aaa</li>
        <li>aaa</li>
        <li>aaa</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="alert alert-success">
      <h5>Opportunities</h5>
      <ul>
        <li>aaa</li>
        <li>aaa</li>
        <li>aaa</li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="alert alert-error">
      <h5>Threats</h5>
      <ul>
        <li>aaa</li>
        <li>aaa</li>
        <li>aaa</li>
      </ul>
    </div>
  </div>
</div>

</div>