<div class="container">

	<form class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>

		<input type="text" class="input-block-level" placeholder="Username" name="username" />
		<input type="password" class="input-block-level" placeholder="Password" name="password" />

		<button class="btn btn-large btn-primary" name="btn-login">Login</button>
		<button class="btn btn-large btn-primary" name="btn-create">Create</button>
	</form>

</div>