<div class="container">
	<h2>Settings</h2>

	<form name="navigation">
		<fieldset>
			<legend>Navigation</legend>

			<label>Item name</label>
			<input type="text" placeholder="Type something…" name="name">
			
			<div>
				<button type="submit" class="btn">Submit</button>
			</div>
		</fieldset>
	</form>

	<!--
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>createdAt</th>
				<th>updatedAt</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
	-->

	<div id="treeview">
		<ul></ul>
	</div>
</div>