<div class="container">
	<h2>Settings</h2>

	<form name="navigation">
		<fieldset>
			<legend>Navigation</legend>

			<input type="hidden" name="id" />

			<label>Item name</label>
			<input type="text" placeholder="Type something…" name="name">

			<label>Item href</label>
			<input type="text" placeholder="Type something…" name="href">

			<label>Item Parent</label>
			<select name="parent"></select>

			<label class="checkbox">
				<input type="checkbox" name="pullRight"> Right align menu item.
			</label>
			
			<div>
				<button type="submit" class="btn">Submit</button>
			</div>
		</fieldset>
	</form>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Parent</th>
				<th>createdAt</th>
				<th>updatedAt</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>