<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input id="loginName" type="text" class="input-block-level" placeholder="Email address">
        <input id="loginPassword" type="password" class="input-block-level" placeholder="Password">
        <button id="loginButton" class="btn btn-large btn-primary" type="submit">Login</button>
        <button id="signupButton" class="btn btn-large btn-primary" type="submit">Signup</button>
      </form>

    </div> <!-- /container -->

<script>
  $("#loginButton").click(function(ev){
    ev.preventDefault();
    var username = $("#loginName").val();
    var password = $("#loginPassword").val();
    if (username && password) {
      $.post(
        '/user/login',
        {username: username, password:password},
        function () {
          window.location = "/home";
        }
      ).fail(function(res){
        alert("Error: " + res.getResponseHeader("error"));
      });
    } else {
      alert("A username and password is required");
    }
  });

  $("#signupButton").click(function(ev){
    ev.preventDefault();
    var username = $("#loginName").val();
    var password = $("#loginPassword").val();
    if (username && password) {
        $.post(
          '/user/signup',
          {username: username, password:password},
          function () {
            window.location = "/home";
          }
        ).fail(function(res){
          alert("Error: " + res.getResponseHeader("error"));
        }); 
    } else {
      alert("A username and password is required");
    }
  }); 
</script>